<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
    <style lang="scss">
        .container {
            padding: 100px;
            display: flex;
            flex-direction: column;
            justify-items: center;
        }

        .container>img {
            width: 100px;
            height: auto;
            align-self: center;
            margin-bottom: 8px;
        }

        .container>span {
            padding: 8px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        {% if activation_success %}
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCOARCwGcGhrUsEGE0sl0JKdV_o5sYTsf8Qh2004NkHrowyBMB9jfN0LTRbIpg1CjGe_7Nq28K1Jk&usqp=CAU"
            alt="">
        <span>Berhasil melakukan aktivasi akun</span>
        {% else %}
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTk_EbDMFusPoCxAnm4aLwDriJM4DoHo5D9GA&usqp=CAU"
            alt="">
        <span>Gagal melakukan aktivasi akun</span>
        {% endif %}
    </div>
</body>

</html>